body {

    color: #333;
    background-color: #f4f4f4;
    text-align: justify;


}

h1 {

    color: #2c3e50;
    text-transform: uppercase;

}

strong {

    color: #e74c3c;
    text-decoration: underline;

}



em {
    color: #2980b9;
    text-decoration: overline;
}

h2,
h3 {

    color: #34495e;
    text-transform: capitalize;
}


h1,
h2,
h3 {

    text-align: center;

}